<footer class="footer ">
  <!-- <div class="content__wrapper"> -->
  <div class="container">
    <div class="footer__content">
      <p>© Grupo Cargo Services</p>

      
      <ul class="footer__content__nav">
        <li>
          <a href="{{ url_to(  trans('theme::route.privacy-policy') ) }}">{{  trans('theme::footer.privacy-policy')  }}</a>
        </li>
        <li>
          <a href="{{ url_to(  trans('theme::route.legal-notice') ) }}">{{  trans('theme::footer.legal-notice')  }}</a>
        </li>
      </ul>
      <div class="mobile-only footer__content__nav__info">
        <div class="footer__content__nav__info__links " >
          <a href="#" class="localiza-oficina" data-scroll="#map">
            <!-- falta enlace -->
            <span class="icon icon-location"></span>
            <span class="text">{{ trans('theme::header.Localiza_tu_oficina') }}</span>
          </a>
          <a class="phone-number" href="tel:+34 91 434 1820">
            <span class="icon icon-phone"></span>
            <span class="text">(+34) 914 341 820</span>
          </a>
          <a class="mail-address" href="mailto:infomad@cargoservicesgroup.com">
            <span class="icon icon-mail"></span>
            <span class="text">infomad@cargoservicesgroup.com</span>
          </a>
        </div>
      </div> 
    </div>
  </div>

</footer>

