<header class="header">
  <div class="menu-mobile">
    <ul>
      <li>
        <button class="btn-close">
          <span class="icon icon-close"></span>
        </button>
      </li>
      <li class="">
        <div class="dropdown">
          <a href="{{  ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}" class="btn-dropdown"> Servicios
            <span class="icon icon-angle-down">
          </a>
          <div class="dropdown-list">
            <ul>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#ground">Terrestre</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#marine">Marítimo</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#aerial">Aéreo</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#cross-trade">Cross Trade</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#projects">Proyectos</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#customs">Aduanas</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#warehouses">Almacenes</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'services' ) :  url_to( 'servicios' )   }}/#insurance">Seguros</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="">
        <div class="dropdown">
          <a href="{{  ( app.locale  ==  'en')?  url_to( 'company' ) :  url_to( 'empresa' )   }}" class="btn-dropdown"> Empresa
            <span class="icon icon-angle-down">
          </a>
          <div class="dropdown-list">
            <ul>
              <li>
                <a href="{{  ( app.locale  ==  'en')?  url_to( 'company' ) :  url_to( 'empresa' )   }}#history">Historia</a>
              </li>
              <li>
                <a href="{{ ( app.locale  ==  'en')?  url_to( 'company' ) :  url_to( 'empresa' )   }}#philosophy">Nuestra filosofía</a>
              </li>
              <li>
                <a href="{{  ( app.locale  ==  'en')?  url_to( 'company' ) :  url_to( 'empresa' )   }}#comany-pol">Política de empresa</a>
              </li>
              <li>
                <a href="{{  ( app.locale  ==  'en')?  url_to( 'company' ) :  url_to( 'empresa' )   }}#qa">Calidad</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="">
        <a href="../news/">Noticias</a>
      </li>
      <li class="">
        <a href=" ( app.locale  ==  'en')?  url_to( 'contact' ) :  url_to( 'contacto' )  ">Contacto</a>
      </li>
      <li>
        <a href="#budget-form" class="btn btn--primary">Pídenos presupuesto</a>
      </li>
    </ul>
  </div>
  <a href="{{ ( app.locale  ==  'en')?  url_to( 'home' ) :  url( '/' )  }}" class="header__logo">
    <img src="{{ image_url('theme::images/content/logo-web.svg') }}" class="header__logo__logo" alt="Logo web" />
  </a>
  <div class="header__navs">
    <div class="header__navs__info">
      <ul class="header__navs__info__left">
        <li>
          <a href="#" class="localiza-oficina" data-scroll="map">
            <!-- falta enlace -->
            <span class="icon icon-location"></span>
            <span class="text">Localiza tu oficina</span>
          </a>
        </li>
        <li class="phone-number">
          <a href="tel:+34 91 434 1820">
            <span class="icon icon-phone"></span>
            <span class="text">(+34) 914 341 820</span>
          </a>
        </li>
        <li class="mail-address">
          <a href="mailto:infomad@cargoservicesgroup.com">
            <span class="icon icon-mail"></span>
            <span class="text">infomad@cargoservicesgroup.com</span>
          </a>
        </li>
      </ul>
      <ul class="header__navs__info__right hide-on-mobile">
        {% if app.locale  ==  'en' %}
          <li>
            <a href="/es/{{ page.translation_url }}" class="">ES</a>
          </li>
          <li>
            <a href="/en/{{ page.slug }}" class="active">EN</a>
          </li>
        {% else %}
          <li>
            <a href="/es/{{ page.slug }}" class="active">ES</a>
          </li>
          <li>
            <a href="/en/{{ page.translation_url }}" class="">EN</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="header__navs__menu">
      <ul>
          {% if app.locale  ==  'en' %}
            <li class="">
              <a href=" {{ url_to( 'services' ) }}">Servicios</a>
            </li>
            <li class="">
              <a href="{{ url_to( "company" ) }} ">Empresa</a>
            </li>
            <li class="">
              <a href="../news/">Noticias</a>
            </li>
            <li class="">
              <a href="{{ url_to( "contact" ) }}">Contacto</a>
            </li>
          {% else %}
            <li class="">
              <a href=" {{ url_to( 'servicios' ) }}">Servicios</a>
            </li>
            <li class="">
              <a href="{{ url_to( "empresa" ) }} ">Empresa</a>
            </li>
            <li class="">
              <a href="../news/">Noticias</a>
            </li>
            <li class="">
              <a href="{{ url_to( "contacto" ) }}">Contacto</a>
            </li>
          {% endif %}
      </ul>
      <button class="btn-menu-mobile">
        <span class="menu-bar"></span>
      </button>
    </div>
  </div>
  <a href="#budget-form" class="btn btn--primary btn-budget">Pídenos presupuesto</a>
</header>
